html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
    .hidden-on-mobile {
        display: none !important;
    }
}


.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

/* start ovveride the Theme */
.form-floating > .form-select { /*this is for the select element in the form-floating class*/
    padding-top: 1.15rem;
    padding-bottom: 0.225rem;
}
/* end ovveride the Theme */

/* ovveride the default validation error message */
.field-validation-error {
    display: block;
}

/* Start Custom Styles */
.dt-spinner + div {
    display: none !important;
}

.h-70px {
    height: 70px !important;
}
/* End Custom Styles */


/* start custom footer */
/* Social Icons */
#kt_app_footer .social-icons {
    margin-top: 5px;
}

#kt_app_footer .social-icons a {
    color: #ffffff;
    margin: 0 8px;
    font-size: 16px;
    transition: 0.3s;
}

#kt_app_footer .social-icons a:hover {
    color: #258cfb;
}
/* end custom footer */