html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
    .hidden-on-mobile {
        display: none !important;
    }
}


.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

/* start ovveride the Theme */
.form-floating > .form-select { /*this is for the select element in the form-floating class*/
    padding-top: 1.15rem;
    padding-bottom: 0.225rem;
}
/* end ovveride the Theme */

/* ovveride the default validation error message */
.field-validation-error {
    display: block;
}

/* Start Override typeahead */
.twitter-typeahead {
    width: 100%;
}

.tt-suggestion {
    font-size: 16px;
}

.tt-suggestion:not(:last-child) {
    border-bottom: 1px dashed #dcdcdc;
}

/*.tt-suggestion:hover,
.tt-suggestion:focus {
    background-color: #dcdcdc;
}*/

/* Start Custom Styles */
.dt-spinner + div {
    display: none !important;
}

.h-70px {
    height: 70px !important;
}

.custom-toast-position {
    margin-top: 70px !important;
}

.hero-sec-dashboard {
    background-color: #020202;
    background-image: url('/assets/images/books-bg.webp');
    background-size: cover;
}

.glass-effect {
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.w-fit-content {
    width: fit-content;
}

.custom-header-satisfy {
    font-family: "Satisfy", cursive;
}

.page-bg {
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../assets/images/bg9-dark.jpg);
}

.min-h-470 {
    min-height: 470px;
}

@media only screen and (min-width: 1600px) {
    .launcher .sidebar {
        position: fixed;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        width: 425px;
        top: 50px;
        right: 50px;
        bottom: 50px;
        background-color: rgba(19,0,97,.3);
        border-radius: 1.75rem;
    }
}

.transform-x {
    transform: scaleX(-1); /*علشان اقلب صورة البنت بتاعت فورم السيرش*/
}

/* End Custom Styles */


/* start custom footer */
/* Social Icons */
.app-footer .social-icons {
    margin-top: 5px;
}

.app-footer .social-icons a {
    color: #ffffff;
    margin: 0 8px;
    font-size: 16px;
    transition: 0.3s;
}

.app-footer .social-icons a:hover {
    color: #258cfb;
}
/* end custom footer */